site_name: Command Line Conflict
theme:
  name: material
  palette:
    scheme: slate
    primary: green
    accent: light green

plugins:
  - include-markdown

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home: index.md
  - Contributing: Contributing.md
  - Security: Security.md
  - Architecture:
    - ECS: ECS.md
    - Project Structure: ProjectStructure.md
  - Maps: Maps.md
  - Changelog: CHANGELOG.md
  - Agent Tasks: agents.md
